 @font-face {
    font-family: "Vanity-Bold"; 
    src: url(fonts/Vanity-Bold.ttf); 
   }

 @font-face {
    font-family: "Vanity-BoldWide"; 
    src: url(fonts/Vanity-BoldWide.ttf); 
   }

* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: "Verdana", "Geneva", "DejaVu Sans", sans-serif;
    font-size: 18px;
    background: #0A0235;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 122px)) 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: repeat(4, auto);
}

header {
      grid-column: 4/12;
    grid-row: 1/2;
   
}

main {
    grid-column: 2/14;
    grid-row: 2/3;
    display: flex;
     flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/*--------------------start header----------------------*/



.header_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    position: relative;
    
} 

.nav_burger {
      color: #F9C9C5;
    font-size: 23px;
    letter-spacing: 3px;
    cursor: pointer;
    z-index: 100;
    }

.nav_burger:hover .menu__burger::before {
    top: -12px;
}

.nav_burger:hover .menu__burger::after {
    bottom: -12px;
}

.menu__burger {
    display: inline-block;
    background: #F9C9C5;
    width: 50px;
    height: 5px;
    position: relative;
    vertical-align: middle;
    margin: -4px 12px 0 12px;

}
.menu__burger::before,
.menu__burger::after {
    content: "";
    background: #F9C9C5;
    width: 50px;
    height: 5px;
} 

.menu__burger::before {
    position: absolute;
    top: -9px;
}
.menu__burger::after {
    position: absolute;
    bottom: -9px;
}
.nav {
    width: 100%;
    text-align: right;
       position: absolute;
    display: none;
}

.nav__item {
    text-decoration: none;
    color: #F9C9C5;
    font-size: 23px;
    }

.nav__item:last-child {
    margin-left: 145px;
}
.nav__item:nth-child(2) {
    margin-left: 400px;
}

.nav_burger__checkbox {
  display: none;
}


.nav_burger__checkbox:checked + .nav_burger {
      color: transparent;
  font-size: 0;
    width: 91px;
    height: 91px;
    background-image: url("../img/logo.svg");
    background-size: contain;
    }

.nav_burger__checkbox:checked + .nav_burger .menu__burger {
    display: none;
}



.nav_burger__checkbox:checked ~ .nav {
  display: block;
}
.svg_av {
    margin-top: 50px;
}






/*--------------------end header----------------------*/


